<h2 class="page-header">Change password</h2>
{{#if incorrectPassword}}
        <div class="alert alert-danger">Old password is incorrect</div> 
{{/if}} 
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/changepassword">
  <div class="form-group">
    <label>Old password</label>
    <input type="password"  class="form-control" name="oldPassword">
    <label>New password</label>
    <input type="password"  class="form-control" name="password">
    <label>Repeat new password</label>
    <input type="password"  class="form-control" name="password2">
  </div>

  <a href="../profile" class="btn btn-danger">Cancel</a> <button type="submit" class="btn btn-default">Submit</button>
</form>