    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome to micro eBay</h1>
        <p class="lead text-muted">I hope you will find something amazing here, click button below to check out all auctions on our site!</p>
        <p>
          <a href="/auctions" class="btn btn-primary">Go to auctions</a>
        </p>
      </div>
    </section>